<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.credainatcon17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".SplashScreen2"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".SplashScreen3"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".NatconRegister"
            android:label="NATCON REGISTRATION" />
        <activity
            android:name=".PaymentGateway"
            android:label="PAYMENT GATEWAY" />
        <activity android:name=".HomeScreen" />
        <activity
            android:name=".NatconRegister2"
            android:label="NATCON REGISTRATION" />
        <activity
            android:name=".NatconRegister3"
            android:label="NATCON REGISTRATION" />
        <activity
            android:name=".NatconRegistrationSummary"
            android:label="NATCON REGISTRATION SUMMARY" />
        <activity
            android:name=".NatconRegister4"
            android:label="Room Partner Details" />
        <activity
            android:name=".Venue_travel"
            android:label="@string/title_activity_venue_travel" />
        <activity
            android:name=".Transport"
            android:label="@string/title_activity_transport" />
        <activity android:name=".Networking" />
        <activity
            android:name=".Sponsers"
            android:label="@string/title_activity_sponsers" />
        <activity android:name=".Contactus" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".Natcon"
            android:label="@string/title_activity_natcon" />
        <activity
            android:name=".Schedules"
            android:label="@string/title_activity_schedules" />
        <activity
            android:name=".Credai1"
            android:label="Credai" />
        <activity
            android:name=".AboutLondon"
            android:label="About London" />
        <activity
            android:name=".AboutNatcon"
            android:label="About Natcon" />
        <activity
            android:name=".AirTickets"
            android:label="Air Tickets" />
        <activity
            android:name=".CoveringLetters"
            android:label="Covering Letters" />
        <activity
            android:name=".CredaiChennai"
            android:label="Credai Chennai" />
        <activity
            android:name=".CredaiLetter"
            android:label="Credai Letter" />
        <activity
            android:name=".CredaiNationHelpdesk"
            android:label="Credai Nation Helpdesk" />
        <activity
            android:name=".Emergency"
            android:label="Emergency" />
        <activity
            android:name=".HelpDesk"
            android:label="Helpdesk" />
        <activity
            android:name=".GettingArround"
            android:label="Getting Around" />
        <activity
            android:name=".HotelHelpDesk"
            android:label="Hotel Helpdesk" />
        <activity
            android:name=".HotelInfo"
            android:label="Hotel Info" />
        <activity
            android:name=".IndianHighCommision"
            android:label="Indian High Commission" />
        <activity
            android:name=".Matrix"
            android:label="Matrix" />
        <activity
            android:name=".CredaiDelhiOffice"
            android:label="Credai Delhi Office" />
        <activity
            android:name=".Organizer"
            android:label="Organizer" />
        <activity
            android:name=".OrganizingCommittee"
            android:label="Organizing Committee" />
        <activity
            android:name=".RoomInfo"
            android:label="Room Info" />
        <activity
            android:name=".SampleVisaForm"
            android:label="Sample Visa Form" />
        <activity
            android:name=".ContactUsCredaiChennai"
            android:label="Credai Chennai" />
        <activity
            android:name=".ContactUsOrganizingCommittee"
            android:label="Plan It" />
        <activity
            android:name=".VisaRequirements"
            android:label="Visa Requirements" />
        <activity
            android:name=".VisaInfo"
            android:label="Visa Info" />
        <activity
            android:name=".VisaFormDetail"
            android:label="Visa Form Detail" />
        <activity android:name=".ForgotLoginPassword" />
        <activity android:name=".SplashScreen1"
            android:theme="@style/NoActionBarTheme"/>
    </application>

</manifest>